HW2/video/b06702064_HW2.mp4
HW3/data/*
HW3/X_test.npy
HW3/X_train.npy
HW3/y_train.npy
HW3/models
HW3/best
HW3/PA_submit
HW3/temp
HW3/submission
HW4/submission
HW4/ml-2021fall-hw4.zip
HW4/data
FinalProject/*