_libgcc_mutex==0.1
_tflow_select==2.1.0
absl-py==0.10.0
aiohttp==3.6.3
astor==0.8.1
async-timeout==3.0.1
attrs==20.2.0
blas==1.0
blinker==1.4
brotlipy==0.7.0
bzip2==1.0.8
c-ares==1.16.1
cachetools==4.1.1
cairo==1.16.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==3.1.1
cudatoolkit==10.1.243
cudnn==7.6.5
ffmpeg==4.0
fontconfig==2.13.1
freeglut==3.0.0
freetype==2.10.4
gast==0.2.2
gettext==0.19.8.1
glib==2.66.2
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphite2==1.3.13
grpcio==1.31.0
h5py==2.8.0
harfbuzz==1.8.8
hdf5==1.10.2
icu==58.2
idna==2.10
idna_ssl==1.1.0
importlib-metadata==2.0.0
intel-openmp==2020.2
jasper==2.0.14
jpeg==9d
keras-applications==1.0.8
keras-base==2.3.1
keras-preprocessing==1.1.0
lcms2==2.11
libblas==3.9.0
libcblas==3.9.0
libedit==3.1.20191231
libffi==3.2.1
libgcc-ng==9.1.0
libgfortran==3.0.0
libgfortran-ng==7.5.0
libgfortran4==7.5.0
libglib==2.66.2
libglu==9.0.0
libiconv==1.16
liblapack==3.9.0
libopenblas==0.3.12
libopencv==3.4.2
libopus==1.3.1
libpng==1.6.37
libprotobuf==3.13.0.1
libstdcxx-ng==9.1.0
libtiff==4.1.0
libuuid==2.32.1
libvpx==1.7.0
libwebp-base==1.1.0
libxcb==1.13
libxml2==2.9.10
lz4-c==1.9.2
markdown==3.3.2
mkl==2020.2
multidict==4.7.6
ncurses==6.2
ninja==1.10.1
numpy==1.19.2
numpy-base==1.19.2
oauthlib==3.1.0
olefile==0.46
opencv==3.4.2
openssl==1.1.1h
opt_einsum==3.1.0
pandas==1.1.3
pcre==8.44
pillow==8.0.0
pip==20.2.4
pixman==0.38.0
protobuf==3.13.0.1
pthread-stubs==0.4
py-opencv==3.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyjwt==1.7.1
pyopenssl==19.1.0
pysocks==1.7.1P
python==3.6.8
python-dateutil==2.8.1
python_abi==3.6
pytorch==1.10.0
pytz==2020.1
pyyaml==5.3.1
readline==7.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.5.2
setuptools==50.3.0
six==1.15.0
sqlite==3.33.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-base==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
termcolor==1.1.0
tk==8.6.10
torchvision==0.11.1
typing_extensions==3.7.4.3
urllib3==1.25.11
werkzeug==1.0.1
wheel==0.35.1
wrapt==1.12.1
xorg-fixesproto==5.0
xorg-inputproto==2.3.2
xorg-kbproto==1.0.7
xorg-libice==1.0.10
xorg-libsm==1.2.3
xorg-libx11==1.6.12
xorg-libxau==1.0.9
xorg-libxdmcp==1.1.3
xorg-libxext==1.3.4
xorg-libxfixes==5.0.3
xorg-libxi==1.7.10
xorg-libxrender==0.9.10
xorg-renderproto==0.11.1
xorg-xextproto==7.3.0
xorg-xproto==7.0.31
xz==5.2.5
yaml==0.2.5
yarl==1.6.2
zipp==3.3.1
zlib==1.2.11
zstd==1.4.5
